.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--whatsapp {
  background-color: green; }

.btn--pinterest {
  background-color: red; }

.btn--instagram {
  background-color: violet; }

* {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  color: #d1d1d1; }

.body_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "header" "main" "footer"; }

a {
  color: #d1d1d1; }

#titulo {
  text-decoration: none;
  font-weight: bold;
  margin: 10px 10px; }

header {
  grid-area: header;
  position: sticky;
  top: 0; }
  header li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 5px; }
    header li a {
      text-decoration: none;
      transition: color 0.3s ease; }
      header li a:hover {
        color: white; }

main {
  grid-area: main; }

img {
  width: 100%; }

.referencia {
  display: flex;
  flex-flow: column nowrap; }

.referencia--titulo {
  width: 100%;
  text-align: center;
  background-color: #cfcfcf;
  color: black;
  padding-top: 1px;
  margin: 0; }

.referencia--telefono {
  width: 100%;
  text-align: center;
  background-color: grey;
  padding-top: 5px; }

.referencia--contacto {
  width: 100%;
  text-align: center;
  background-color: #2e2e2e;
  padding-top: 5px; }

.vacio {
  margin: 0; }

.parrafo {
  display: flex;
  flex-flow: column nowrap;
  text-align: center; }

.section {
  padding: 30px 10px;
  text-size-adjust: 1.6rem; }
  .section article a {
    padding: 0px 10px; }
  .section article p {
    padding: 15px 10px; }

input, textarea, button {
  margin: 15px 30px;
  padding: 15px;
  font-size: 0.875em;
  outline: none;
  border: solid 1px #d1d1d1;
  transition: all 0.3s ease-in-out; }
  input:hover, textarea:hover, button:hover {
    background-color: #e2dedb5e; }

button {
  cursor: pointer; }

form {
  display: flex;
  flex-flow: column nowrap;
  padding: 15px; }
  form h1 {
    text-align: center;
    padding: 15px; }

.ubicacion {
  width: 100%; }

.proyectos--titulo {
  text-align: center;
  margin: 50px; }

.proyectos--articulos {
  border: solid 1px #d1d1d1;
  cursor: pointer; }
  .proyectos--articulos h2 {
    margin-top: 20px; }

.apartamentos__articulos {
  border: solid 1px #d1d1d1;
  cursor: pointer;
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

footer {
  grid-area: footer;
  padding: 15px 0;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column; }
  footer a {
    text-decoration: none;
    transition: color 0.3s ease; }
    footer a:hover {
      color: white; }

@media screen and (min-width: 480px) {
  .body_index {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .referencia {
    display: flex;
    flex-flow: row nowrap; }
    .referencia h1 {
      width: 25%; }
    .referencia a {
      width: 25%; }
  .parrafo {
    display: flex;
    flex-flow: row nowrap; }
    .parrafo article {
      width: auto; }
  .imagen {
    width: 381px; }
  .info {
    display: flex;
    flex-flow: row nowrap; }
    .info .form, .info .section {
      width: 50%; }
  .proyectos--articulos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
    .proyectos--articulos section {
      width: 35%; }
      .proyectos--articulos section h2 {
        margin-top: 0; }
    .proyectos--articulos img {
      width: 65%; }
  .flex-direction_left {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .flex-direction_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .apartamentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row; }
    .apartamentos .apartamentos__articulos {
      width: 30%;
      margin: 10px; } }

@media screen and (min-width: 768px) {
  .apartamentos .apartamentos__articulos {
    width: 20%; } }
