* {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(209, 209, 209);

    
}
  
#titulo {
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
}

header {
    position: sticky;
    top: 0;
/*     margin: -1;
    padding: -1; */
    grid-area: header;
    padding: 10px 0px;
}





nav {
    float: right;

}

nav ul {
    margin: 0;
}

.menu li{
    display: inline-block;
    list-style-type: none;
}

li a {
    text-decoration: none;
    transition: color 0.3s ease;
}

li a:hover {
    color: white;
}

.referencia {

    display: flex;
    grid-area: ref;
    flex-flow: row nowrap;

    

}



.referencia--titulo {
    margin: 0;
/*     width: 300px; */
    height: 33px;
    background-color: rgb(207, 207, 207);
    color: black;

    padding-top: 1px;
    text-align: center;
    

} 

.referencia--telefono {
    background-color: grey;
/*     width: 300px; */
    height: 29px;
/*     padding-left: 100px; */
    padding-top: 5px;
    text-align: center;
}

.referencia--contacto {
    background-color: rgb(46, 46, 46);
/*     width: 300px; */
/*     padding-left: 100px; */
    padding-top: 5px;
    text-align: center;
}




input {
    border-style: solid;
    border-color: rgb(209, 209, 209);
}

textarea {
    border-style: solid;
    border-color: rgb(209, 209, 209);
}

button {
    border-style: solid;
    border-color: rgb(209, 209, 209);
}


.parrafo {
    text-align: center;
/*     display: flex;
    grid-area: parrafo;
/*     width: 700px; */
/*     padding: 50px 100px; */

} */

.section {
    grid-area: section;
    padding: 10px 20px;
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
}
footer {
/*     grid-area: footer;
    padding: 45px; */
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

footer a {
    text-decoration: none;
/*     margin: 0px 3px; */
    transition: color 0.3s ease;
}

footer a:hover {
    color:white

}