.footer {
    grid-area: footer;
    padding: 15px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.footer__redes {
    width: 30px;
    height: 30px;
    margin: 15px;
    float: left;
}

.footer__contacto a {
    a {
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
            color: $ColorTransicion;
        }
    }
}

.footer__copiright p {
    margin: 0;
}
