$ColorTransicion: white;

$fondo: black;
$letras: rgb(209, 209, 209);
$bordes: rgb(209, 209, 209);
$referencia: (
        ancho: 100%,
        centro: center
);
$redes: (
        twitter: #55acee,
        facebook: #3a5795,
        whatsapp: green,
        pinterest: red,
        instagram: violet
);
@mixin despliege($display, $direccion) {
        display: $display;
        flex-flow: $direccion;  
}
@mixin grids--mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
}
@mixin grids--desktop {
    grid-template-columns: repeat(4, 1fr); 
}

@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }    
}





